.activities{:class => I18n.locale}
  %h1= 'پیام ارسالی کاربر'
  %p
    %b نام
    = @message.name
  %p
    %b ایمیل
    = @message.email
  %p
    %b تلفن تماس
    = @message.phone_number
  %p
    %b پیام ارسالی
    = @message.text

  %p
    %b تاریخ ارسال پیام
    = JalaliDate.new(@message.created_at).strftime("%A %e %b %Y")          

  
  = link_to 'بازگشت', messages_path
