.margin3{:class => I18n.locale}  
  %h1 تصاویر اسلایدر
  - if is_admin?
    = link_to 'افزودن تصویر به اسلایدر', new_slide_path, :class => "btn btn-success"
  .col-xs-12
    - @slides.each do |slide|
      .col-xs-6
        = image_tag slide.image(:small)
        %p= slide.description
        - if is_admin?
          .admin-link
            = link_to 'Show', slide
            = link_to 'Edit', edit_slide_path(slide)
            = link_to 'Destroy', slide, :method => :delete, :data => { :confirm => 'Are you sure?' }




