= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation      
      %ul
        - @user.errors.each do |attr, msg|
          %li= msg
  .col-xs-6.pull-right
    .form-group
      = f.label 'ایمیل:', :class => "control-label"
      = f.text_field :email, :class => "form-control", :id => "user-email"
    .form-group
      = f.label 'نام کاربری', :class => "control-label"
      = f.text_field :user_name, :class => "form-control", :id => "user-name"
    .form-group
      = f.label 'رمزعبور:', :class => "control-label"
      = f.password_field :password, :class => "form-control", :id => "user-password"
    .form-group
      = f.submit 'ثبت', :class => "btn btn-primary", :id => "new_user"
  .clear-float
  
:javascript   
  $('#new_user').click(function(e) {
    $(':text#user-name, :text#user-email, :password#user-password').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });
  
