.activities{:class => I18n.locale}
  %h1 لیست کاربران

  %table.table
    %tr
      %th ایمیل
      %th نام کاربری
      %th
      %th
      %th

    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.user_name
        - if is_admin?
          %td= link_to 'مشاهده', user, :class => "btn btn-warning"    
          %td= link_to 'ویرایش', edit_user_path(user), :class => "btn btn-info" 
          %td= link_to 'حذف', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

  %br
  - if is_admin?
    = link_to 'کاربر جدید', new_user_path, :class => "btn btn-success"
