.activities{:class => I18n.locale}
  %p#notice= notice

  %p
    %b ایمیل:
    = @user.email
  %p
    %b نام کاربری
    = @user.user_name

  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path
