.admin-menu{:class => I18n.locale}
  %b.fa منوی مدیرسایت
  %ul.admin.fa
    %li
      = link_to 'صفحه اصلی', root_path
    %li
      = link_to 'مدیریت دسته بندی فعالیتها', Category
    %li
      = link_to 'مدیریت زیرگروه فعالیتها', SubGroup
    -#
      %li
        = link_to 'مدیریت پروژه ها', Product
    %li
      = link_to 'پروفایل مدیرسایت', User
    %li
      = link_to 'مدیریت صفحات متنی', Page
    -#
      %li
        = link_to 'مدیریت اسلایدر', Slide

    %li
      = link_to 'خروج', delete_session_path
