
.navbar-inner
  .menu-button.pull-right
    .menu-icon
    .language
      = link_to (image_tag 'flag/en.png'), locale: :en          
      = link_to (image_tag 'flag/fa.png'), locale: :fa
  .logo.bg-white
    = link_to '/', :class => "brand" do
      = image_tag 'logo.png', :height => "40", :width => "120", :alt => t('vistatech')                            
    
  .menu-bar.menu-bar-open
    %ul#nav-items{:class => I18n.locale}  
      %li{ :class => ('active' if current_page?('/'))}
        = link_to t('home-page'), root_path  
      %li{ :class => ('active' if current_page?(Category))}
        = link_to t('activities'), Category
      - Page.all.each do |page|
        %li{ :class => ('active' if current_page?(page))}
          = link_to page.title, page
