%ul#top-navigation.nav{:class => I18n.locale}
  - if current_page?('/')
    %li{ :class => ('active' if current_page?('/'))}
      = link_to 'صفحه اصلی', "#home"  
    %li{ :class => ('active' if current_page?(Category))}
      = link_to 'فعالیتها', "#service"  
    %li{ :class => ('active' if current_page?(Product))}
      = link_to 'پروژه ها', "#portfolio"  
    - Page.all.each do |page|
      %li{ :class => ('active' if current_page?(page))}
        = link_to page.title, "#" + page.title
    
  - else
    %li{ :class => ('active' if current_page?('/'))}
      = link_to 'صفحه اصلی', root_path  
    %li{ :class => ('active' if current_page?(Category))}
      = link_to 'فعالیتها', Category   
    %li{ :class => ('active' if current_page?(Product))}
      = link_to 'پروژه ها', Product   
    - Page.all.each do |page|
      %li{ :class => ('active' if current_page?(page))}
        = link_to page.title, page
