= form_for @message ||= Message.new, :html => {:class => "contact"} do |f|
  - if @message.errors.any?
    #error_explanation
      %ul
        - @message.errors.each do |attr, msg|
          %li= msg 
      
  -if flash[:SendMsg]        
    .alert.alert-success= flash[:SendMsg]
      
  
  .form-group
    
    = f.text_field :name, :class => "form-control needed"  , :placeholder => t('msg.contact-name')
 
  .form-group.col-xs-6    
    
    = f.text_field :email, :class => "form-control needed"       , :placeholder =>   t('msg.contact-email')
    
  .form-group.col-xs-6
    = f.text_field :phone_number, :class => "form-control", :placeholder => t('msg.contact-phone')
    
  .form-group    
    
    = f.text_area :text, :class => "form-control needed", :style => "resize:none", :rows => 5, :placeholder => t('msg.contact-msg')
    
  .form-group
    = f.submit t('msg.contact-btn'), :class => "btn btn-primary"


  
