.navbar-inner
  .menu-button.pull-right
    .menu-icon
    .language
      = link_to (image_tag 'flag/en.png'), locale: :en          
      = link_to (image_tag 'flag/fa.png'), locale: :fa
  .logo.bg-white
    = link_to '/', :class => "brand" do
      = image_tag 'logo.png', :height => "40", :width => "120", :alt => t('vistatech')                            
  - @about = Page.where(title_en: 'About Us')
  - @contact = Page.where(title_en: 'Contact Us')  
  .menu-bar.menu-bar-open
    %ul#nav-items{:class => I18n.locale}  
      %li{ :class => ('active' if current_page?('/')), :id => 'show-home'}
        = link_to  t('home-page'), root_path
      %li{ :class => ('active' if current_page?(Category)), :id => 'show-activities'}
        =link_to  t('activities'), root_path
      - Page.all.each do |page|
        %li{ :class => ('active' if current_page?(page)), :id => ( page.title_en == @about.first.title_en ? 'show-about-us' : 'show-contact-us' )}
          = link_to  page.title, root_path

