.upload-pic      
  = picture.file_field :image
  -if picture.object.image.present?
    = image_tag picture.object.image(:small) , :class => "enable_file_select" 

  .form-group
    = picture.label "توضیحات عکس به فارسی", :class => "control-label" 
    = picture.text_area :description_fa, :rows => 2, :style => "resize:none" , :class => "form-control" 
  .form-group
    = picture.label "توضیحات عکس به انگلیسی", :class => "control-label" 
    = picture.text_area :description_en, :rows => 2, :style => "resize:none"  , :class => " form-control"
  
  .form-group  
    = picture.label "برای حذف این کادر روی آیکن سطل آشغال مقابل کلیک کنید.", :class => "control-label" 
    = picture.link_to_remove (image_tag ("Delete_Icon.png"), :class => "recyclebin-icon"), :class => "remove-task col-sm-3", :title => "آژانس_هواپیمایی_رادان_سیر"


