- if I18n.locale == :en
  .social-link
    .col-xs-3.pull-left.social-icon
      = image_tag 'linkedin.png'
      = image_tag 'google.png'
      = image_tag 'facebook.png'
      = image_tag 'twetter.png'
    .col-xs-7.pull-left
    .col-xs-2.globe{:class => I18n.locale}
      = link_to (image_tag 'globee.png'), locale: :fa
  .logo-box{:class => I18n.locale}
    .col-xs-4.pull-left
      = image_tag 'logo.png'
      .col-xs-11.pull-left{:style => "padding:0"}
        %p.fa ویستا تک پیشرو (سهامی خاص)
        %p.en Vistatech Pishro
      
  .search-div.col-xs-3.pull-left#search-div{:class => I18n.locale, :style => "padding:0;"}
    
    .col-xs-10#search.pull-left{:class => I18n.locale}
      = form_tag "http://google.com/search", method: "get",  :target=> "_blank", :class => "contact-form", :id => "contact-form" do
        .search_on_google
          .google-field.form-group
            %span.google-submit.col-xs-2.pull-left{:class => I18n.locale}
              =image_submit_tag 'ensearch.png', :name => "sa",  :class => I18n.locale, :style => "background:#016c93"
            .col-xs-10{:style => "padding:0"}= text_field_tag :q, '', placeholder: 'Google Search',  :class => I18n.locale.to_s + " form-control", :style => "background:#ccc"
    .clear-float
    .col-xs-12
      = link_to root_path, :class => "icon-link col-xs-2", :style => "padding:0" do
        = image_tag 'home.png', :class => "home-icon"
        %span.icon-tooltip= t('home-page')
      
      = link_to root_path, :class => "icon-link col-xs-2", :style => "padding:0" do
        = image_tag 'phone.png', :class => "phone-icon"
        %span.icon-tooltip= t('phone')
      
  .menu-bar
    = render 'shared/menu_en'
  .menu-responsive
    = render 'shared/menu_en'
- else
  .social-link
    .col-xs-3.pull-right.social-icon
      = image_tag 'linkedin.png'
      = image_tag 'google.png'
      = image_tag 'facebook.png'
      = image_tag 'twetter.png'
    .col-xs-7.pull-right
    .col-xs-2.globe{:class => I18n.locale}
      
      = link_to (image_tag 'globee.png'), locale: :en
      
  .logo-box{:class => I18n.locale}
    .col-xs-4.pull-right
      = image_tag 'logo.png'      
      .col-xs-10.pull-right{:style => "padding:0"}
        %p ویستا تک پیشرو (سهامی خاص)
        %p.en Vistatech Pishro
      
  .search-div.col-xs-3.pull-right#search-div{:class => I18n.locale, :style => "padding:0;"}
    
    .col-xs-10#search.pull-right{:class => I18n.locale}
      = form_tag "http://google.com/search", method: "get",  :target=> "_blank", :class => "contact-form", :id => "contact-form" do
        .search_on_google
          .google-field.form-group
            %span.google-submit.col-xs-2.pull-right{:class => I18n.locale}
              =image_submit_tag 'search.png', :name => "sa",  :class => I18n.locale, :style => "background:#016c93"
            .col-xs-10{:style => "padding:0"}= text_field_tag :q, '', placeholder: 'جستجو در گوگل',  :class => I18n.locale.to_s + " form-control", :style => "background:#ccc"
    .clear-float
    .col-xs-12
      = link_to root_path do
        = image_tag 'home.png', :class => "home-icon"
      
      = image_tag 'phone.png', :class => "phone-icon"
  .clear-float
  .menu-bar
    = render 'shared/menu'

  .menu-responsive{:class => I18n.locale}
    = render 'shared/menu'

  
