.social-link
  .col-xs-3.pull-right.social-icon
    = image_tag 'linkedin.png'
    = image_tag 'google.png'
    = image_tag 'facebook.png'
    = image_tag 'twetter.png'
  .col-xs-7.pull-right
  .col-xs-2.globe
    -#
      = link_to (image_tag 'globee.png'), locale: :en
    = image_tag 'globee.png'
.logo-box{:class => I18n.locale}
  .col-xs-3.pull-right
    = image_tag 'logo.png'
    %p ویستا تک پیشرو (سهامی خاص)
    %p.en{:style => "font-size:33px"} Visatech Pishro
    
.search-div.pull-right{:class => I18n.locale}
  
  .col-xs-3#search.pull-right
    = form_tag "http://google.com/search", method: "get",  :target=> "_blank", :class => "contact-form", :id => "contact-form" do
      .search_on_google
        .google-field.form-group
          %span.google-submit.col-xs-2.pull-right{:class => I18n.locale}
            =image_submit_tag 'search.png', :name => "sa",  :class => I18n.locale, :style => "background:#016c93"
          .col-xs-10{:style => "padding:0"}= text_field_tag :q, '', placeholder: 'جستجو در گوگل',  :class => I18n.locale.to_s + " form-control"
  .clear-float
  .col-xs-12
    = image_tag 'home.png', :class => "home-icon"
    = image_tag 'email.png', :class => "email-icon"
    = image_tag 'phone.png', :class => "phone-icon"
.menu-bar
  = render 'shared/menu'


  
