= nested_form_for @sub_group , :html => { :multipart => true  } do |f|
  - if @sub_group.errors.any?
    #error_explanation
      %ul
        - @sub_group.errors.each do |attr, msg|
          %li= msg
  
  
  .col-xs-6.pull-right
    .form-group
      = f.label 'عنوان به انگلیسی:', :class => "control-label"
      = f.text_field :title_en, :class => "form-control"
    .form-group
      = f.label 'عنوان به فارسی:', :class => "control-label"
      = f.text_field :title_fa, :class => "form-control"
    .form-group
      = f.label 'گروه مربوط را انتخاب کنید.', :class => "control-label"  
      = f.select :category_id, options_for_select(Category.all.collect{ |u| [u.title_fa, u.id] }), prompt: "گروه فعالیت ها را انتخاب کنید.", :class => "form-control"
      
    .form-group.alert.alert-info
      = f.label 'آیکن مرتبط.', :class => "control-label"
      - if @sub_group.icon.present?
        = image_tag @sub_group.icon(:small)
      = f.file_field :icon, :class => "form-control"
    .form-group
      = f.label 'تصویر پس زمینه این بخش را برای زبان فارسی وارد کنید.', :class => "control-label"
      - if @sub_group.bg_image.present?
        = image_tag @sub_group.bg_image(:small)
      = f.file_field :bg_image, :class => "form-control"
    .form-group
      = f.label 'تصویر پس زمینه این بخش را برای زبان انگلیسی وارد کنید.', :class => "control-label"
      - if @sub_group.bg_image_en.present?
        = image_tag @sub_group.bg_image_en(:small)
      = f.file_field :bg_image_en, :class => "form-control"
    
  
    .form-group.col-xs-12 
      %p{:class => I18n.locale}="برای افزودن تصاویر برای این پروژه دکمه زیر را فشار دهید و در کادری که نمایش داده می شود تصویر مورد نظر را انتخاب کنید:"
      %p{ :style=> "color:#ec523f", :class => I18n.locale}= "دقت داشته باشید حجم هر عکس باید کمتر از ۵۰۰کیلوبایت باشد."
      = f.link_to_add content_tag(:span, "افزودن تصویر", :class => "btn btn-warning" ), :photos, :id => "add_new_picture"
    .col-xs-12 
      = f.fields_for :photos do |picture|  
        .col-xs-6{:style => "border:2px solid #1E90FF; background:#ADD8E6"}
          = render "shared/upload_image_form", :picture => picture
  .col-xs-6
    .form-group
      = f.label 'توضیحات به انگلیسی:', :class => "control-label"
      .editor
        = f.text_area :description_en, :class => "ckeditor"
    .form-group
      = f.label 'توضیحات به فارسی:', :class => "control-label"
      .editor  
        = f.text_area :description_fa, :class => "ckeditor"
    .form-group
      = f.submit 'ثبت', :class => "btn btn-primary"
.clear-float
