%p#notice= notice

%p
  %b Description en:
  = @photo.description_en
%p
  %b Description fa:
  = @photo.description_fa
%p
  %b Category:
  = @photo.category_id
%p
  %b Sub group:
  = @photo.sub_group_id
%p
  %b Products:
  = @photo.products_id

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
