.activities{:class => I18n.locale}
  - if is_admin?
    .admin-btn
      = link_to 'ویرایش', edit_category_path(@category), :class => "btn btn-info" 
  .show-sub-group#category-activity 
    .show-title-sub-group
      %h3{:class => I18n.locale}= @category.title
      .clear-float
      .sub-group-discript
        - if @category.sub_groups.present?
          .col-xs-6{:class => I18n.locale == :fa ? "pull-right" : "pull-left" }
            - @category.sub_groups.limit(4).each do |sub_group|            
              .col-xs-12
                %span= image_tag sub_group.icon(:small), :width => "50"
                %span= link_to sub_group.title, sub_group
          .col-xs-6{:class => I18n.locale == :fa ? "pull-right" : "pull-left" }  
            - @category.sub_groups.offset(4).each do |sub_group|            
              .col-xs-12
                %span= image_tag sub_group.icon(:small), :width => "50"
                %span= link_to sub_group.title, sub_group
            
      - if is_admin?
        = link_to 'ویرایش', edit_sub_group_path(@category)
