!!!
%html
  %head
    %title= t('vistatech') 
    = stylesheet_link_tag    "application", media: "all"
    
    = csrf_meta_tags 
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    %meta{:content => "Raush Co", :name => "author"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png', :title => "ویستا تک پیشرو"

  %body    
    
    .main-div{:class => I18n.locale }
      - if I18n.locale == :en
        .blue-border-left.col-xs-12.pull-left{:style => "position:absolute;"}
        
          = yield 
          .footer{:class => I18n.locale}
            
            = render 'shared/footer_en'

      - else
        
        .blue-border-right.col-xs-12.pull-right{:style => "position:absolute;"}
          = yield 
      
          .footer{:class => I18n.locale}
            
            = render 'shared/footer_fa'
            
    - if is_admin?
      = render 'shared/admin_menu'
  
  = javascript_include_tag "application"  
    
