!!!
%html
  %head
    %title= t('vistatech') 
    = stylesheet_link_tag    "application", media: "all"
    
    = csrf_meta_tags 
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png', :title => "ویستا تک پیشرو"

  %body    
    .main-div{:class => I18n.locale}
      - if I18n.locale == :en
        .blue-border-left.col-xs-12.pull-left{:style => "position:absolute;"}
          = yield 
          .footer{:class => I18n.locale}
            
            = render 'shared/footer_en'
            
            .col-xs-12
              .copyright= t('copyright')
      - else
        .blue-border-right.col-xs-12.pull-right{:style => "position:absolute;"}
          = yield 
      
          .footer{:class => I18n.locale}
            
            = render 'shared/footer_fa'
            .col-xs-12
              .copyright= t('copyright')

    - if is_admin?
      = render 'shared/admin_menu'
  
  = javascript_include_tag "application"  
    
