!!!
%html
  %head
    %title= t('vistatech') + ' ' + 'سهامی خاص'
    = stylesheet_link_tag    "application", media: "all"    
    = csrf_meta_tags 
    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %meta{:charset => "utf-8"}  
    %meta{:name => "robots", :content => "Index,follow"}
    %meta{:name => "googlebot", :content => "archive"}
    %meta{:name => "slurp", :content => "Index,follow"}
    %meta{:name => "msnbot", :content => "Index,follow"}
    %meta{:name => "teoma", :content => "Index,follow"}
    %meta{:content => "vG16WSPPj39lbcp_HWJ-DNUWrA4lajNUp2EtMoI6KaQ", :name => "google-site-verification"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    %meta{:name => "description", :content => " سعادت آباد، بلوار پاکنژاد، بالاتر از میدان بهرود، کوچه 29، پلاک 10Info@VTP.Co.IR"}
    %meta{:name => "keywords", :content => Category.all.collect(&:title_fa).join(",") + ' ' + Category.all.collect(&:title_en).join(",") + ' ' + SubGroup.all.collect(&:title_fa).join(",") + ' ' + SubGroup.all.collect(&:title_en).join(",")}
    %meta{:content => "شرکت راش بنیان مدرن پاژ", :name => "author"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    = favicon_link_tag 'favicon.png', rel:'shortcut icon', type: 'image/png', :title => "ویستا تک پیشرو"
    = canonical_tag 

  %body
    
    .main-div{:class =>  (params[:controller] == 'categories') ? 'active-page' : 'other-pages', :id => (current_page?('/') || current_page?(Category)  ? 'main-bg-image' : 'main-bg-white')}
      - if I18n.locale == :en
        .blue-border-left.col-xs-12.pull-left{:style => "position:absolute;"}
          .other-menu{:class => I18n.locale}= render 'static/index_menu'
          = yield 
          .footer{:class => I18n.locale, :id => current_page?('/') || current_page?(Category) ? "font-color-white" : "font-color-black" }            
            = render 'shared/footer_en'

      - else
        .blue-border-right.col-xs-12.pull-right{:style => "position:absolute;"}
          .other-menu= render 'static/index_menu'
          = yield       
          .footer{:class => I18n.locale, :id => (current_page?('/') || current_page?(Category) ? "font-color-white" : "font-color-black") }
            = render 'shared/footer_fa'
            
    - if is_admin?
      = render 'shared/admin_menu'
  
  = javascript_include_tag "application"  
    

